# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/kasir_restoran_dev
# Untuk dev cepat tanpa Postgres, bisa pakai SQLite:
# DATABASE_URL=sqlite:./dev.sqlite

# Auth
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=8h
